@charset "utf-8";
	.NormalCharacterStyle1
{
	/* font-family : Salvation;
	font-size : 600px;
	letter-spacing : -59.4px;
	color : #000000;
	color : rgb(0, 0, 0); */
}
.NormalCharacterStyle
{
    position: absolute;
    /* top: -500px;
    left: -15px; */
	font-family : Nove;
    font-size : 40px;
    margin-left: 8px;
	/* letter-spacing : -123.7px; */
	text-outline : #000000;
	text-outline : rgb(0, 0, 0);
}
.XMLID_1_
{
	/* background-image : url(XMLID_1_.png);
	background-repeat : no-repeat; */
}
.XMLID_3_
{
	/* background-image : url(XMLID_3_.png);
	background-repeat : no-repeat; */
}
